$primary-color: #45425a;
$secondary-color: #575c55;
$third-color: #6c7d47;
$fourth-color: #acc12f;
$font-base-size: 20px;
$sans-serif-fonts: Arial, Helvetica, sans-serif;
$content-borders: 10px;
$border-style: solid;
