$primary-color: #45425a;
$secondary-color: #575c55;
$third-color: #6c7d47;
$fourth-color: #acc12f;
$font-base-size: 20px;
$sans-serif-fonts: Arial, Helvetica, sans-serif;
$content-borders: 10px;
$border-style: solid;

body {
  background-color: lighten($fourth-color, 30%);
}

a {
  color: $primary-color;
  font-family: $sans-serif-fonts;
}

button {
  color: $primary-color;
  border-color: $primary-color;
  background-color: darken($primary-color, 17%);
  font-family: $sans-serif-fonts;
  border-radius: $content-borders;
}

h1 {
  font-size: $font-base-size * 2.25;
  font-family: $sans-serif-fonts;
  color: $primary-color;
}

h2 {
  font-size: $font-base-size * 2;
  font-family: $sans-serif-fonts;
  color: $secondary-color;
}

h3 {
  font-size: $font-base-size * 1.75;
  font-family: $sans-serif-fonts;
  color: $third-color;
}

h4 {
  font-size: $font-base-size * 1.5;
  font-family: $sans-serif-fonts;
  color: $fourth-color;
}

h5 {
  font-size: $font-base-size * 1.25;
  font-family: $sans-serif-fonts;
}

h6 {
  font-size: $font-base-size;
  font-family: $sans-serif-fonts;
}

p {
  font-size: $font-base-size * 0.75;
  font-family: $sans-serif-fonts;
  color: darken($primary-color, 50%);
}

input {
  font-size: $font-base-size;
  font-family: $sans-serif-fonts;
}

input[type="text"] {
  border-radius: $content-borders;
}

input[type="password"] {
  border-radius: $content-borders;
}

img {
  border-radius: $content-borders;
}

textarea {
  border-radius: $content-borders;
}

input[type="checkbox"] {
  font-size: $font-base-size * 1.25;
  color: $primary-color;
}

input[type="radio"] {
  font-size: $font-base-size * 0.75;
  color: $third-color;
}

table {
  border-style: $border-style;
  border-radius: $content-borders;
  font-size: $font-base-size * 1.75;
  font-family: $sans-serif-fonts;
}

figcaption {
  font-family: $sans-serif-fonts;
}
